---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Digital postcards</title>
  </head>
  <body>
    <div
      class="bg-linear-65 from-orange-600 to-amber-500 h-screen w-screen flex justify-center"
    >
      <div class="drop-shadow-2xl rounded-2xl m-40 w-screen bg-gray-800">
        <div>
          <!-- postcard preview -->
        </div>

        <div>
          <div>
            <!-- text entry -->
          </div>

          <div>
            <!-- shader select -->
          </div>

          <div>
            <!-- sliders -->
          </div>

          <div>
            <!-- submit -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
